
appdirs
appnope
asn1crypto
backports-abc
backports.shutil-get-terminal-size
bleach
blinker
certifi
cffi
click
configparser
coverage
coveralls
cryptography
cycler
decorator
Django
docopt
ecdsa
entrypoints
enum34
Flask
Flask-API
flask-csrf
Flask-Testing
Flask-WTF
funcsigs
functools32
html5lib
idna
ipaddr
ipaddress
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
mandrill
MarkupSafe
matplotlib
mistune
mock
mpmath
MySQL-python
nbconvert
nbformat
netifaces
nose
nose2
notebook
numpy
packaging
pandas
pandocfilters
paramiko
pathlib2
patsy
pbr
pexpect
pickleshare
prompt-toolkit
protobuf
psutil
ptyprocess
pycparser
pycrypto
Pygments
pyOpenSSL
pyparsing
python-cjson
python-dateutil
python-Levenshtein
pytz
pyzmq
qtconsole
requests
scandir
scikit-learn
scipy
seaborn
simplegeneric
simplejson
singledispatch
six
statsmodels
stevedore
subprocess32
sympy
tensorflow
terminado
testfixtures
testpath
tornado
traitlets
urllib3
virtualenv
virtualenv-clone
virtualenvwrapper
wcwidth
webencodings
Werkzeug
widgetsnbextension
WTForms
