{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
      <section class="home-section home-parallax home-fade home-full-height" id="home">
        <div class="hero-slider">
          <ul class="slides">
            <li class="bg-dark-30 bg-dark" style="background-image:{{url_for('static', filename='/images/section-8.jpg')}};">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome </div>
                  <div class="font-alt mb-40 titan-title-size-4">Welcome to grade predictor app</div><a class="section-scroll btn btn-border-w btn-round" href="{{url_for('predictions.predict_form')}}">clicker pour voir</a>
                </div>
              </div>
            </li>
            <li class="bg-dark-30 bg-dark" style="background-image:{{url_for('static', filename='/images/section-9.jpg')}};">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-30 titan-title-size-2">Cette Application vous predit vos resultat academique<br/>Pour des nouveaux étudiants
                  </div><a class="section-scroll btn btn-border-w btn-round" href="{{url_for('predictions.predict_form')}}">clicker pour voir</a>
                </div>
              </div>
            </li>
            <li class="bg-dark-30 bg-dark" style="background-image:{{url_for('static', filename='/images/section-10.jpg')}};">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-30 titan-title-size-1">Nous faisons la magie moderne avec le data mining</div>
                  <div class="font-alt mb-40 titan-title-size-3">Nous sommes des génies des données</div><a class="section-scroll btn btn-border-w btn-round" href="{{url_for('predictions.predict_form')}}">clicker pour voir</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <div class="main">
        <section class="module" id="about">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <h2 class="module-title font-alt">Grade Predictor </h2>
                <div class="module-subtitle font-serif large-text">Nous avions analyser les données issues du système d'information UAT , et avons decouvert sur quoi est basée la resussite d'un étudiant dans une faculté à L'ULPGL et nous nous basons sur ces analyses pour vous prédire un resultat acceptable à 10% pret </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 col-sm-offset-5">
                <div class="large-text align-center"><a class="section-scroll" href="#services"><i class="fa fa-angle-down"></i></a></div>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider-w">
        <section class="module" id="services">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Notre Approche </h2>
                <div class="module-subtitle font-serif">Nous collectons les données issue du système UAT et le analysons</div>
              </div>
            </div>
            <div class="row multi-columns-row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-lightbulb"></span></div>
                  <h3 class="features-title font-alt">Nos Decouvertes</h3>
                  <p>Sur base de ces données nous avions decouvert ce qui influence la reusite d'un étudiant dans une faculté</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-bike"></span></div>
                  <h3 class="features-title font-alt">Notre Demarche</h3>
                  <p>Nous avons effectuer la collecte , l'analyse et la modelisation selon la methodologie CRISP-DM</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-tools"></span></div>
                  <h3 class="features-title font-alt">Nos Outils</h3>
                  <p>Nous avons utiliser les differentes librairies de python pour arriver à notre resultat</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-gears"></span></div>
                  <h3 class="features-title font-alt">Notre Magie</h3>
                  <p>Nous utilisons des modèles du Machine Learning entre autre la regression lineaire et la regression logistique pour vous prédire le resultats fiables</p>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock %}
