<!doctype html>
<html>
  <head>
    {% block head %}
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>{% block title %}{% endblock %} </title>
    <!--
    Favicons
    =============================================
    -->

    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename="images/favicons/apple-icon-57x57.png")}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename="images/favicons/apple-icon-60x60.png")}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename="images/favicons/apple-icon-72x72.png")}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename="images/favicons/apple-icon-76x76.png")}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename="images/favicons/apple-icon-114x114.png")}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename="images/favicons/apple-icon-120x120.png")}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename="images/favicons/apple-icon-144x144.png")}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename="images/favicons/apple-icon-152x152.png")}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename="images/favicons/apple-icon-180x180.png")}}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename="images/favicons/android-icon-192x192.png")}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename="images/favicons/favicon-32x32.png")}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename="images/favicons/favicon-96x96.png")}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename="images/favicons/favicon-16x16.png")}}">
    <link rel="manifest" href="{{ url_for('static', filename="manifest.json")}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename="images/favicons/ms-icon-144x144.png")}}">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================
    -->
    <!-- Default stylesheets-->
    <link href="{{ url_for('static', filename="lib/bootstrap/dist/css/bootstrap.min.css")}}" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="{{ url_for('static', filename="lib/animate.css/animate.css")}}" rel="stylesheet">
    <link href="{{ url_for('static', filename="lib/components-font-awesome/css/font-awesome.min.css")}}" rel="stylesheet">
    <link href="{{ url_for('static', filename="lib/et-line-font/et-line-font.css")}}" rel="stylesheet">
    <link href="{{ url_for('static', filename="lib/flexslider/flexslider.css")}}" rel="stylesheet">
    <link href="{{ url_for('static', filename="lib/owl.carousel/dist/assets/owl.theme.default.min.css")}}" rel="stylesheet">
    <link href="{{ url_for('static', filename="lib/magnific-popup/dist/magnific-popup.css")}}" rel="stylesheet">
    <link href="{{ url_for('static', filename="lib/magnific-popup/dist/magnific-popup.css")}}" rel="stylesheet">
    <link href="{{ url_for('static', filename="lib/simple-text-rotator/simpletextrotator.css")}}" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="{{ url_for('static', filename="css/style.css")}}" rel="stylesheet">
    <link id="color-scheme" href="{{ url_for('static', filename="css/colors/default.css")}}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    {% endblock %}
  </head>
   <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="{{url_for('home.homepage')}}">Grade Predictor</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{url_for('home.homepage')}}">Home</a></li>
              <li><a href="{{url_for('home.homepage')}}#about">A Propos</a></li>
              <li><a href="{{url_for('home.homepage')}}#services">Notre Approche</a></li>
            </ul>
          </div>
        </div>
      </nav>
      {% block content %}{% endblock %}
      {% block footer %}
    <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2017&nbsp;<a href="http://espoir.me">espy mur</a>, All Rights Reserved</p>
              </div>
              <div class="col-sm-6">
                <div class="footer-social-links"><a href="https://github.com/espoirMur" target="_blank" ><i class="fa fa-github"></i></a><a href="https://twitter.com/EspyMur" target="_blank" ><i class="fa fa-twitter"></i></a><a href="http://espoir.me" target="_blank" ><i class="fa fa-dribbble"></i></a><a href="https://stackoverflow.com/users/4683950/espoir-murhabazi" target="_blank" ><i class="fa fa-stack-overflow"></i></a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
      {% endblock %}
      <!--
    JavaScripts
    =============================================
    -->
    <script src="{{ url_for('static', filename="lib/jquery/dist/jquery.js")}}"></script>
    <script src="{{ url_for('static', filename="lib/bootstrap/dist/js/bootstrap.min.js")}}"></script>
    <script src="{{ url_for('static', filename="lib/wow/dist/wow.js")}}"></script>
    <script src="{{ url_for('static', filename="lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js")}}"></script>
    <script src="{{ url_for('static', filename="lib/isotope/dist/isotope.pkgd.js")}}"></script>
    <script src="{{ url_for('static', filename="lib/imagesloaded/imagesloaded.pkgd.js")}}"></script>
    <script src="{{ url_for('static', filename="lib/flexslider/jquery.flexslider.js")}}"></script>
    <script src="{{ url_for('static', filename="lib/owl.carousel/dist/owl.carousel.min.js")}}"></script>
    <script src="{{ url_for('static', filename="lib/smoothscroll.js")}}"></script>
    <script src="{{ url_for('static', filename="lib/magnific-popup/dist/jquery.magnific-popup.js")}}"></script>
    <script src="{{ url_for('static', filename="lib/simple-text-rotator/jquery.simple-text-rotator.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/plugins.js")}}"></script>
    <script src="{{ url_for('static', filename="js/main.js")}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap3-typeahead.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
  </body>
</html>
